* text=auto !eol
main/info.bioinfweb.jtreess.core/.classpath -text
main/info.bioinfweb.jtreess.core/.project -text
main/info.bioinfweb.jtreess.core/.settings/com.github.jknack.antlr4ide.Antlr4.prefs -text
main/info.bioinfweb.jtreess.core/.settings/org.eclipse.jdt.core.prefs -text
main/info.bioinfweb.jtreess.core/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/ReadMe.txt -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/TreeSS.g4 -text
main/info.bioinfweb.jtreess.core/include/GPL.txt -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/include/LGPL.txt -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/include/NOTICE.txt -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/include/lib/antlr.jar -text
main/info.bioinfweb.jtreess.core/include/lib/commons-collections4-4.1.jar -text
main/info.bioinfweb.jtreess.core/include/lib/eclipselink-2.7.4.jar -text
main/info.bioinfweb.jtreess.core/src/GPL.txt -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/LGPL.txt -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/NOTICE.txt -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/TreeSSProcessor.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/AbstractDocumentElement.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/Document.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/DocumentElement.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/Function.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/PropertyRule.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/SelectorRule.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/expression/Addition.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/expression/Division.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/expression/Expression.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/expression/Multiplication.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/expression/ParanExpression.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/expression/Subtraction.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/selector/ConcreteNonPseudoSelector.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/selector/ConcreteSelector.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/selector/NonPseudoSelector.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/selector/PseudoClass.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/selector/PseudoFunction.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/selector/PseudoSelector.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/selector/Selector.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/selector/SelectorType.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/value/ColorValue.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/value/UnitValue.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/document/value/Value.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/ApplicationDataProvider.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/InterpretedDocument.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/Length.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/RuntimeValue.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/DynamicValueImplementation.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/FunctionImplementation.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/Implementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/LengthConversionImplementation.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/SelectorImplementation.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/lengthconversion/AbsoluteLengthUnitConversion.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/lengthconversion/VariableLengthUnitConversion.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/lengthconversion/package-info.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/AbstractPseudofunctionImplementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/CombinedSelectorImplementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/FirstChildPseudoselectorImplementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/InternalPseudoselectorImplementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/LastChildPseudoselectorImplementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/MatchesPseudofunctionImplementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/NodeSimpleSelectorImplementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/NotPseudofunctionImplementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/NthChildPseudofunctionImplementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/NthLastLevelPseudofunctionImplementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/NthLevelPseudofunctionImplementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/NthLevelPseudoselectorImplementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/RootPseudoselectorImplementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/SelectorImplementationAdapter.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/TerminalPsuedoselectorImplementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/implementation/selectorpseudofunction/TreeSimpleSelectorImplementation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/execute/package-info.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/LanguageDefinitions.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/io/AbstractWriteTransformer.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/io/EnumerationConstantsMapAdapter.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/io/ImplementationAdapter.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/io/LanguageDefinitionReader.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/io/RuntimeTypeAdapter.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/io/RuntimeValueReadTransformer.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/io/RuntimeValueTypeWriteTransformer.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/io/RuntimeValueValueWriteTransformer.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/io/SoftwareIDMapAdapter.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/io/XMLConstants.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/io/package-info.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/BasicInformation.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/EnumerationTypeInformation.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/Example.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/FunctionPseudoFunctionInformation.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/ParameterList.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/ParameterListInformation.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/PropertyInformation.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/PseudoClassInformation.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/RuntimeType.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/SimpleSelectorInformation.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/SoftwareInformation.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/SoftwareVersionInterval.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/SupportedSoftwareEntry.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/UnitInformation.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/ValueConstantInformation.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/jaxb.properties -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/language/model/package-info.java -text svneol=unset#text/plain
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/package-info.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/reader/SyntaxTreeListener.java -text
main/info.bioinfweb.jtreess.core/src/info/bioinfweb/jtreess/reader/parser/package-info.java -text
test/info.bioinfweb.jtreess.test.cssparser.cssparser/.classpath -text
test/info.bioinfweb.jtreess.test.cssparser.cssparser/.project -text
test/info.bioinfweb.jtreess.test.cssparser.cssparser/.settings/org.eclipse.jdt.core.prefs -text
test/info.bioinfweb.jtreess.test.cssparser.cssparser/data/CSSTest.css -text
test/info.bioinfweb.jtreess.test.cssparser.cssparser/data/Test.treess -text
test/info.bioinfweb.jtreess.test.cssparser.cssparser/lib/cssparser-0.9.27.jar -text
test/info.bioinfweb.jtreess.test.cssparser.cssparser/lib/sac.jar -text
test/info.bioinfweb.jtreess.test.cssparser.cssparser/log.txt -text
test/info.bioinfweb.jtreess.test.cssparser.cssparser/src/info/bioinfweb/jtreess/cssparser/cssparser/CSSParserTest.java -text
test/info.bioinfweb.jtreess.test.cssparser.jcss/.classpath -text
test/info.bioinfweb.jtreess.test.cssparser.jcss/.project -text
test/info.bioinfweb.jtreess.test.cssparser.jcss/.settings/org.eclipse.jdt.core.prefs -text
test/info.bioinfweb.jtreess.test.cssparser.jcss/data/Test.treess -text
test/info.bioinfweb.jtreess.test.cssparser.jcss/lib/jCSS-Parser-0.0.5-javadoc.jar -text
test/info.bioinfweb.jtreess.test.cssparser.jcss/lib/jCSS-Parser-0.0.5-sources.jar -text
test/info.bioinfweb.jtreess.test.cssparser.jcss/src/info/bioinfweb/jtreess/test/cssparser/jcss/JCSSParserTest.java -text
test/info.bioinfweb.jtreess.test.cssparser.jcss/src/info/bioinfweb/jtreess/test/cssparser/jcss/TestCSSHandler.java -text
test/info.bioinfweb.jtreess.test.cssparser.jstyleparser/.classpath -text
test/info.bioinfweb.jtreess.test.cssparser.jstyleparser/.project -text
test/info.bioinfweb.jtreess.test.cssparser.jstyleparser/.settings/org.eclipse.jdt.core.prefs -text
test/info.bioinfweb.jtreess.test.cssparser.jstyleparser/data/Test.treess -text
test/info.bioinfweb.jtreess.test.cssparser.jstyleparser/lib/antlr4-runtime-4.5.3.jar -text
test/info.bioinfweb.jtreess.test.cssparser.jstyleparser/lib/cssbox-4.15.jar -text
test/info.bioinfweb.jtreess.test.cssparser.jstyleparser/lib/jstyleparser-3.2.jar -text
test/info.bioinfweb.jtreess.test.cssparser.jstyleparser/lib/jstyleparser-3.3.jar -text
test/info.bioinfweb.jtreess.test.cssparser.jstyleparser/lib/slf4j-api-1.7.25.jar -text
test/info.bioinfweb.jtreess.test.cssparser.jstyleparser/lib/slf4j-api-1.7.26.jar -text
test/info.bioinfweb.jtreess.test.cssparser.jstyleparser/lib/slf4j-jdk14-1.7.26.jar -text
test/info.bioinfweb.jtreess.test.cssparser.jstyleparser/src/info/bioinfweb/jtreess/test/cssparser/jstyleparser/JStyleParserTest.java -text
test/info.bioinfweb.jtreess.test.cssparser.phcss/.classpath -text
test/info.bioinfweb.jtreess.test.cssparser.phcss/.project -text
test/info.bioinfweb.jtreess.test.cssparser.phcss/.settings/org.eclipse.jdt.core.prefs -text
test/info.bioinfweb.jtreess.test.cssparser.phcss/data/Test.treess -text
test/info.bioinfweb.jtreess.test.cssparser.phcss/lib/ph-commons-9.3.4.jar -text
test/info.bioinfweb.jtreess.test.cssparser.phcss/lib/ph-css-6.2.0.jar -text
test/info.bioinfweb.jtreess.test.cssparser.phcss/lib/slf4j-api-1.7.26.jar -text
test/info.bioinfweb.jtreess.test.cssparser.phcss/lib/slf4j-jdk14-1.7.26.jar -text
test/info.bioinfweb.jtreess.test.cssparser.phcss/src/info/bioinfweb/jtreess/test/cssparser/phcss/PhCssParserTest.java -text
test/info.bioinfweb.jtreess.test.cssparser.w3csac/.classpath -text
test/info.bioinfweb.jtreess.test.cssparser.w3csac/.project -text
test/info.bioinfweb.jtreess.test.cssparser.w3csac/.settings/org.eclipse.jdt.core.prefs -text
test/info.bioinfweb.jtreess.test.cssparser.w3csac/data/Test.treess -text
test/info.bioinfweb.jtreess.test.cssparser.w3csac/lib/flute.jar -text
test/info.bioinfweb.jtreess.test.cssparser.w3csac/lib/sac.jar -text
test/info.bioinfweb.jtreess.test.cssparser.w3csac/src/info/bioinfweb/jtreess/test/cssparser/w3csac/FluteParserTest.java -text
test/info.bioinfweb.jtreess.test.javacc/.classpath -text
test/info.bioinfweb.jtreess.test.javacc/.project -text
test/info.bioinfweb.jtreess.test.javacc/.settings/org.eclipse.jdt.core.prefs -text
test/info.bioinfweb.jtreess.test.javacc/.settings/sf.eclipse.javacc.prefs -text
test/info.bioinfweb.jtreess.test.javacc/data/Test.treess -text
test/info.bioinfweb.jtreess.test.javacc/lib/javacc.jar -text
test/info.bioinfweb.jtreess.test.javacc/src/TestFileParser.jj -text
test/info.bioinfweb.jtreess.test.javacc/src/info/bioinfweb/jtreess/test/javacc/Main.java -text
test/info.bioinfweb.jtreess.test.javacc/src/info/bioinfweb/jtreess/test/javacc/parser/ParseException.java -text
test/info.bioinfweb.jtreess.test.javacc/src/info/bioinfweb/jtreess/test/javacc/parser/SimpleCharStream.java -text
test/info.bioinfweb.jtreess.test.javacc/src/info/bioinfweb/jtreess/test/javacc/parser/TestFileParser.java -text
test/info.bioinfweb.jtreess.test.javacc/src/info/bioinfweb/jtreess/test/javacc/parser/TestFileParserConstants.java -text
test/info.bioinfweb.jtreess.test.javacc/src/info/bioinfweb/jtreess/test/javacc/parser/TestFileParserTokenManager.java -text
test/info.bioinfweb.jtreess.test.javacc/src/info/bioinfweb/jtreess/test/javacc/parser/Token.java -text
test/info.bioinfweb.jtreess.test.javacc/src/info/bioinfweb/jtreess/test/javacc/parser/TokenMgrError.java -text
test/info.bioinfweb.jtreess.test.main/.classpath -text
test/info.bioinfweb.jtreess.test.main/.project -text
test/info.bioinfweb.jtreess.test.main/.settings/org.eclipse.jdt.core.prefs -text
test/info.bioinfweb.jtreess.test.main/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/data/TreeSS/BasicExample.treess -text
test/info.bioinfweb.jtreess.test.main/data/TreeSS/IdentifierHyphenTest.treess -text
test/info.bioinfweb.jtreess.test.main/data/TreeSS/SelectorPseudoSelectorTest.treess -text
test/info.bioinfweb.jtreess.test.main/data/TreeSS/SimpleCalculationTest.treess -text
test/info.bioinfweb.jtreess.test.main/data/TreeSS/SmallTests.treess -text
test/info.bioinfweb.jtreess.test.main/data/language/constants/blue.xml -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/data/language/functions/matches.xml -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/data/language/properties/font-size.xml -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/data/language/selectors/node.xml -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/data/language/software/TreeGraph_2.xml -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/data/language/types/text-align.xml -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/data/language/units/blu.xml -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/data/language/units/pt.xml -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/src/info/bioinfweb/jtreess/execute/RuntimeValueTest.java -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/src/info/bioinfweb/jtreess/language/io/LanguageDefinitionReaderTest.java -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/src/info/bioinfweb/jtreess/language/model/EnumerationTypeInformationTest.java -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/src/info/bioinfweb/jtreess/language/model/FunctionPseudofunctionInformationTest.java -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/src/info/bioinfweb/jtreess/language/model/PropertyInformationTest.java -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/src/info/bioinfweb/jtreess/language/model/SimpleSelectorInformationTest.java -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/src/info/bioinfweb/jtreess/language/model/SoftwareInformationTest.java -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/src/info/bioinfweb/jtreess/language/model/UnitInformationTest.java -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/src/info/bioinfweb/jtreess/language/model/ValueConstantInformationTest.java -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/src/info/bioinfweb/jtreess/reader/SyntaxTreeListenerTest.java -text
test/info.bioinfweb.jtreess.test.main/src/info/bioinfweb/jtreess/test/FunctionImplementationPlaceholder.java -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/src/info/bioinfweb/jtreess/test/JTreeSSTestTools.java -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/src/info/bioinfweb/jtreess/test/MarshallerTest.java -text svneol=unset#text/plain
test/info.bioinfweb.jtreess.test.main/src/info/bioinfweb/jtreess/test/PropertyInformationMashaller.java -text svneol=unset#text/plain
utils/info.bioinfweb.jtreess.utils/.classpath -text svneol=unset#text/plain
utils/info.bioinfweb.jtreess.utils/.project -text svneol=unset#text/plain
utils/info.bioinfweb.jtreess.utils/.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
utils/info.bioinfweb.jtreess.utils/.settings/org.eclipse.jdt.ui.prefs -text svneol=unset#text/plain
